/*
* @Author: naoyeye
* @Date:   2018-03-26 01:26:32
* @Last Modified by:   hanjiyun
* @Last Modified time: 2019-01-26 23:36:17
*/

.bot-wrap {
  width: 500px;
  display: flex;
  margin: 0 auto;

  .card {
    width: 150px;
  }

  .control {
    flex: 1;
    text-align: left;
    margin: 20px;
  }


}