<%- contentFor('title') %>
登录

<link rel="stylesheet" href="/stylesheets/home.css">

<%- contentFor('body') %>
<form action='/accounts/login' method='POST'>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <% if (locals.errMsg) { %>
  <div><%= errMsg %></div>
  <% } %>

  <fieldset>
    <legend>邮箱</legend>
    <input type="email" name="email" />
  </fieldset>
  
  <fieldset>
    <legend>密码</legend>
    <input type="password" name="password" />
  </fieldset>

  <button type="submit">提交</button>
</form>